{% extends "base/base.html" %}
{% block content %}
    <div>
        <img src="/static/images/index.jpg" title="index"  style="position: fixed; top: 50px; bottom: 0; left: 0; right: 0; z-index: -1;"/>
        <div style="width: 100%; margin-left: auto; margin-right: auto; color: #FFF; background-color: rgba(10, 10, 10, 0.6);
        padding: 5px 320px 10px 320px;
        margin-top: 350px;">
            <h1 style="font-size: 64px">FinTrack</h1>
            <div style="margin-top: -20px; padding-left: 160px;">Track your financial income and expenditures.</div>
            <hr>
            <p>
                Benefit from:
                <ul>
                    <li>Meaningful reports to reflect your finances.</li>
                    <li>Statistical analysis to forecast and plan your finances with.</li>
                </ul>
            </p>
        </div>
    </div>
{% endblock %}